<%# app/views/refinery/pages/home.html.erb%>
<div id="carousel-example-generic" class="carousel slide span12" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @slides.each do |slide| %>
      <div class="item">
        <%=link_to (image_fu slide.image, '900x600'), slide.image.url %>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" ></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="col-md-8">
  <%= raw(@page.content_for(:body)) %>
</div>
<div class="col-md-4">
  <%= raw(@page.content_for(:side_body)) %>
</div>  
